* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0F1111;
    background-color: #febd69;
    background-color: #d3d0d0;
    min-height: 100%;
}


.container {
    /* padding: 0 auto; */
    width: 100%;
    max-width: 1536px;
    /* margin: 0 auto; */
    padding: 0 5px 0 18px;
}

/* ------------------------------------------------------- */
/* top-nav */
/* ------------------------------------------------------- */

.top-nav {
    color: #fff;
    display: flex;
    align-items: center;
    /* gap: 10px; */
    width: 100%;
    height: 60px;
    background-color: #131921;
}

.border {
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 6px 4px;
}

.border:hover {
    border: 1px solid white;
    border-radius: 2px;
    padding: 6px 4px;
}

.nav-left {
    width: 205px;
    display: flex;
    flex: 1 0 205px;
    /* gap: 10px; */
}

/*------------- logo */
.nav-logo {
    min-width: 113px;
    flex: 3;
    height: 50px;
    /* background-color: #febd69; */
}

.nav-logo h3 {
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    transition: all 0.5s ease-in-out;

}

/* .nav-logo h3:hover {
    transform: scale(1.1);
} */



/*---------- location */
.nav-location {
    display: flex;
    flex-direction: column;
    min-width: 92px;
    height: 50px;
    /* background-color: #fac6c6; */
    flex: 2;
    /* padding: 0 3px; */
}

.location-icon {
    display: flex;
    align-items: center;
    /* padding: 0 9px; */
    gap: 5px;
    font-size: 14px;
    font-weight: 700;
}

.location-text {
    text-align: center;
    width: 100%;
    font-size: 12px;
    /* padding-left: 10px; */
}

.location-icon i {
    font-size: 15px;

}

/* ----------------- search box  */
.nav-search {
    display: flex;
    /* justify-content: space-evenly; */
    height: 45px;
    width: 873px;
    min-width: 447px;
    flex: 1 1 873px;
    border: 0;
    outline: none;
    border: 2px solid transparent;
    padding: 0 6px;
    transition: all 0.3s ease-in-out;
    /* padding-left: 6px; */
}

.nav-search:hover {
    border: 2px solid #febd69;
    border-radius: 6px;
    padding: 0;

}

.nav-search .dropdown {
    width: 55px;
    /* height: 100%; */
    text-align: center;
    font-style: 16px;
    background-color: #dad7d7;
    border: 0;
    outline: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search-input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 18px;
    padding-left: 6px;
}

.search-icon {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #febd69;
    color: #000;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* nav-right */
.nav-right {
    width: 384px;
    min-width: 368px;
    flex: 1;
    /* height: 60px; */
}

.flex {
    display: flex;
    /* height: 50px; */
    /* background-color: #dfbfbf; */

}

.flag {
    /* min-width: 73px; */
    flex: 1 0 73px;
    height: 50px;
    /* background-color: rgb(27, 174, 174); */
    display: flex;
    align-items: center;
    gap: 2px;
    justify-content: center;
    padding-top: 10px;
}

.flag p {
    font-size: 14px;
}

.signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 132px;
    flex: 1 0 132px;
    height: 50px;
    /* background-color: rgb(255, 102, 0); */


}

.signin .first-text,
.order .first-text {
    font-size: 12px;
}

.signin .sec-text,
.order .sec-text {
    font-size: 14px;
    font-weight: 700;
}

.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 77px;
    flex: 1 0 77px;
    height: 50px;
    /* background-color: rgb(36, 145, 145); */


}

.cart {
    min-width: 84px;
    flex: 1 0 84px;
    height: 50px;
    /* background-color: rgb(154, 15, 124); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.cart-icon {
    position: relative;
    font-size: 22px;
}

.cart-icon span {
    position: absolute;
    top: -9px;
    left: 10px;
    color: rgb(255, 162, 0);
    font-size: 18px;
    font-weight: 700;

}

.cart .cart-text {
    font-size: 15px;
    font-weight: 700;
}

.nav-hamburger {
    display: none;
    flex: 1;
}



/* ------------------------------------------------------- */
/* bottom-nav */
/* ------------------------------------------------------- */
.bottom-nav {
    background-color: #232f3e;
    width: 100%;
    display: flex;
    color: #fff;
    align-items: center;
    font-size: 14px;


}

.text {
    display: flex;
    /* gap: 10px; */
    /* padding: 8px 10px; */
}

.bottom-nav .text p {
    text-wrap: nowrap;
}

.hamburger {
    display: flex;
    gap: 10px;
    /* padding: 8px 10px; */
}

.border-bnav {
    padding: 10px 10px;
    border: 1px solid transparent;
}

.border-bnav:hover {
    padding: 10px 10px;
    border: 1px solid #fff;
}

/* ------------------------------------------------------- */
/*                           banner-section                */
/* ------------------------------------------------------- */
/* ////////////////////// */
.banner-inner-one #last-div {
    display: none;
}

/* ////////////////////// */

.background-image {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(211, 208, 208, 0.9)), url('images/61P7hqIHrdL._SX3000_.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
}

.banner-section {
    position: relative;
}

.banner-inner {
    position: absolute;
    top: 33vh;
    width: 100%;
    height: 600px;
    padding: 20px 0px;
    /* background-color: #febd69; */
}

.banner-inner-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
    width: 100%;
    /* height: 300px; */
    /* max-width: 1219px;
    min-width: 919px; */
    padding: 0px 20px;

    margin: 0 auto;
    /* background-color: #f8f8f9; */
}

.banner-cart {
    /* width: 33%; */
    width: 350px;
    height: 420px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-cart .link a {
    color: rgb(43, 156, 156);
    text-decoration: none;
    font-size: 14px;
    /* font-weight: 700; */
}

.banner-cart h1 {
    font-size: 20px;
}

.banner-cart .hidden-cart {
    display: none;
}

.items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    padding: 15px 0;
}

.items .item-content {
    margin: 0 auto;
    height: 150px;
    width: 46%;
    /* background-color: antiquewhite; */
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-content .one {
    width: 100%;
}

.item-content img {
    object-fit: cover;
    width: 100%;
    height: 120px;
}

.item-img img {
    width: 100%;
    height: 320px;
    padding: 15px 0;
}

.item-content p {
    font-size: 13px;

}

.item-content-one img {
    width: 100%;
    height: 180px;
}

.item-content-two img {
    width: 100%;
}

.item-content-one {
    width: 100%;
    flex: 1 0 100%;
    /* height: 70%; */
}

.item-content-two {
    width: 28%;
    flex: 1 0 28%;
    font-size: 12px;
}

/* ========================================= */
/*            product-slider                 */
/* ========================================= */
.product-slider {
    background-color: #fff;
    margin: 10px 20px;
    padding: 20px;
    /* margin-bottom: 15px; */

}

.product-slider .products {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    margin-left: 10px;
    padding: 15px 0px;
}

.product-slider h2 {
    padding: 10px 0px;
}

.product-slider .products img {
    max-width: 200px;
    max-height: 200px;
}

/* ========================================= */


/* ========================================= */
/*                  footer section           */
/* ========================================= */
footer {
    margin: 30px 0px;
    background-color: #fff;
    padding: 30px 0px;
    width: 100%;
    /* height: 200px; */
}

footer .footer-btn {
    width: 100%;
    height: 150px;
    border: 2px solid #cccbcb;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

}

footer .footer-btn .btn-border {

    width: 50%;
    /* height: 150px; */
    margin: 10px 0px;
    /* background-color: #febd69; */
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

footer .footer-btn .btn-border button {
    background-color: #ffc83e;
    width: 35%;
    width: 270px;
    height: 32px;
    border: 0px;
    border-radius: 5px;
    border: 2px solid #daa318;
    margin: 5px 0px;
}

footer .footer-btn .btn-border a {
    text-decoration: none;
    color: rgb(27, 121, 150);
    font-weight: normal;
}

.footer-text {
    background-color: #37475a;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}
.footer-main {
    background-color: #232f3e;
}

.main-one {
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-one .row {
    display: flex;
    width: 60%;
    /* align-items: center; */
    justify-content: space-between;
    padding: 30px 0px 50px;
    flex-wrap: wrap;
    line-height: 20px;

}
.main-one .row .col{
padding: 15px;
}

.main-one p a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.main-two{
    display: flex;
    color: #ffffff;
   align-items: center;
   justify-content: center;
}